*{
    background-color: rgb(23, 27, 37);
    color: rgb(255, 255, 255);
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold; */
    font-family: 'Open Sans', sans-serif;
    margin-left: 0.85em;
    margin-right: 1em;
    margin-top: 0px;
    box-sizing: border-box;
}
header{
    margin-top: 2em;
}
header a .github-logo{
    float: right;
    width: 1.2em;
    margin-top: 2.25em;
}


/* header h1{
    font-weight: bold;
    border: 3px solid; 
    width: 30%;
}
header a .github-logo{
    margin-top: 4%;
    margin-right: 13%;
    float: right;
    width: 20px;
}*/



