*{
    background-color: rgb(23, 27, 37);
    color: rgb(255, 255, 255);
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold; */
    font-family: 'Open Sans', sans-serif;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 0px;
}

header h1{
    font-weight: bold;
    /* border: 3px solid; */
    width: 30%;
}
header a .github-logo{
    margin-top: 4%;
    margin-right: 13%;
    float: right;
    width: 20px;
   
}

main{
    margin-top: 5%;
    height: 750px;
}

footer{
    text-align: right;
    position: relative;
    margin-bottom: 7%;
}