*{
    background-color: rgb(23, 27, 37);
    color: rgb(255, 255, 255);
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold; */
    font-family: 'Open Sans', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
}

header h1{
    font-weight: bold;
    /* border: 3px solid; */
    width: 30%;
}
header a .github-logo{
    margin-top: 4%;
    margin-right: 13%;
    float: right;
    width: 20px;
   
}
article{
    padding: 1%;
}
footer .git{
    float: inline-end;
    width: 40%;
}
footer .logo{
    text-align: center;
    width: 20px;
}
footer .links{
    width: 350px;
    display: flex;
}
